<% document ||= @document %>

<!-- Modal -->
<div class="modal fade" id="apaModal" tabindex="-1" role="dialog" aria-labelledby="apaModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="apaModalLabel"><%= t('geoblacklight.show.citation.title') %></h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="<%= t('geoblacklight.show.citation.apa.modal.close') %>">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
        <%= content_tag :div, class: 'modal-body' do %>
          <ul class="list-group list-group-flush">
            <li class="list-group-item" >
              <% get_apa_citation(document).each do | citation | %>
                <%= content_tag :h5 do%>
                  <%= t('geoblacklight.show.citation.apa.modal.title') %>
                <% end %>
                <%= content_tag :div, id: 'apa-citation' do %>
                  <%= sanitize citation %>
                <% end %>
                <%= content_tag :div, id: 'apa-citation-copied', class: 'alert alert-success', style: 'display: none;' do %>
                  <%= t('geoblacklight.show.citation.apa.modal.copied') %>
                <% end %>
                <%= content_tag :div, id: 'apa-citation-failed', class: 'alert alert-danger', style: 'display: none;' do %>
                  <%= t('geoblacklight.show.citation.apa.modal.failed') %>
                <% end %>
              <% end %>

              <button type="button" id="copy-citation-button" class="btn btn-primary" aria-label="<%= t('geoblacklight.show.citation.apa.modal.copy') %>">
                <%= t('geoblacklight.show.citation.apa.modal.copy') %>
              </button>
            </li>

            <li class="list-group-item" >
              <%= content_tag :h5 do %>
                <%= t('geoblacklight.show.citation.help') %>
              <% end %>

              <%= content_tag :div do %>
                <%= link_to download_bibtex_url do %>
                  <%= fa_icon "download", text: t('geoblacklight.show.citation.bibtex'), right: true %>
                <% end %>
              <% end %>

            </li>
          </ul>
        <% end %>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal"><%= t('geoblacklight.show.citation.apa.modal.close') %></button>
      </div>
    </div>
  </div>
</div>

<dd class="offset-md-3 offset-lg-0 col-12">
  <button class='btn btn-secondary' type="button" data-toggle="modal" data-target="#apaModal">
    <%= fa_icon "file", text: t('geoblacklight.show.citation.apa.button'), right: true %>
  </button>
</dd>
